on boot
    # Change ownership and permission of st nfc device
    chown nfc nfc /dev/st21nfc
    chmod 0660 /dev/st21nfc

service capsense_reset /system/vendor/bin/capsense_reset
    class core
    user system
    group system input
    disabled

on property:sys.boot_completed=1
    start capsense_reset

service vendor.mmi-laser-sh /vendor/bin/init.mmi.laser.sh
    class core
    user root
    oneshot

on property:sys.boot_completed=1
    write /sys/devices/platform/soc/soc:mmi,charger/state_sync 1
